<p id="notice"><%= notice %></p>
<% if current_user %>
  <% if Like.exists?({article: @article, user: current_user}) %>
    <%= link_to "unstar", star_article_path(@article, type: "unstar"), method: :put, remote: true %>
  <% else %>
    <%= link_to "star", star_article_path(@article, type: "star"), method: :put, remote: true %>
  <% end %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
